<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Inclusion du fragment header -->
    <div th:replace="~{fragments/header :: header}"></div>
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.css}">
</head>
<body class="vertical light">
    <!-- Inclusion du fragment navbar -->
    <div class="wrapper">
        <div th:replace="~{fragments/navbar :: navbar}"></div>

        <!-- Contenu principal de la page -->
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                  <div class="col-12">
                    <h2 class="mb-2 page-title">List Of Supplier Quotation</h2>
                    <p class="card-text">There is the list of Supplier Quotation .</p>
                    <div class="row my-4">
                      <!-- Small table -->
                      <div class="col-md-12">
                        <div th:if="${error}" class="alert alert-danger" role="alert">
                            <span class="fe fe-minus-circle fe-16 mr-2"></span> 
                            <span th:text="${error}"></span> 
                        </div>
                        <div class="card shadow">
                          <div class="card-body">
                            <!-- table -->
                            <table class="table datatables" id="dataTable-1">
                              <thead>
                                <tr>
                                  <th>ID</th>
                                  <th>Title</th>
                                  <th>Date</th>
                                  <th>Valide Till</th>
                                  <th>Total</th>
                                  <th>Status</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr th:each="quotation : ${quotations}">
                                    <td th:text="${quotation.name}"></td> 
                                    <td th:text="${quotation.title}"></td> 
                                    <td th:text="${quotation.transaction_date}"></td> 
                                    <td th:text="${quotation.valid_till}"></td> 
                                    <td th:text="${quotation.total}"></td>  
                                    <td th:text="${quotation.status}"></td> 
                                    <td>
                                      <a th:if="${quotation.status == 'Draft'}" th:href="@{/quotation/edit-form/{name}(name=${quotation.name})}"><button type="button" class="btn mb-2 btn-outline-warning"><span class="fe fe-edit-2 fe-16"><span></span></span></button></a>
                                      <a th:href="@{/quotation/item/{name}(name=${quotation.name})}"><button type="button" class="btn mb-2 btn-outline-primary"><span class="fe fe-file-text fe-16"><span></span></span></button></a>
                                    </td>               
                                </tr>                          
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div> <!-- simple table -->
                    </div> <!-- end section -->
                  </div> <!-- .col-12 -->
                </div> <!-- .row -->
              </div>
        </main>
    </div>
    <!-- Inclusion du fragment footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>
    <script th:src="@{/js/jquery.stickOnScroll.js}"></script>
    <script th:src="@{/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/js/dataTables.bootstrap4.min.js}"></script>
    <script th:inline="javascript">
      $('#dataTable-1').DataTable(
      {
        autoWidth: true,
        "lengthMenu": [
          [16, 32, 64, -1],
          [16, 32, 64, "All"]
        ]
      });
    </script>
</body>
</html>
